jbvenv/
app/__pycache__/
__pycache__
*.pyc
*.pyo
*.log
.env
.env.old
*.env

.pytest_cache/
.ruff_cache/

RAILWAY_DEPLOYMENT.md
PRODUCTION_READY.md
TESTING.md

# test
.coverage
.coveragerc

migrations/
app/utils/bulk_insert.py
app/utils/bulk_insert2.py
app/utils/old_db_design.py
app/templates/company/register.html
app/templates/company/login.html
app/static/resume_upload/*.pdf
app/logs
logs/
.venv/